
<div class="container">
  <div class="row">



    <section class="col-md-8 col-md-push-4">
      <%= image_tag(@picture.url, id: 'hero') %>
      <%= form_tag({controller: "votes", action: "vote"}, method: "post", :id=> 'voting-form', :class=>'text-center')   do %>
          <%= hidden_field_tag(:picture_id, @picture.id) %>
          <%= submit_tag("Scott!") %>
          <%= submit_tag("Not!") %>
      <% end %>
    </section>
    
    <% if @prior_percentage %>
    <aside class="prior-vote col-md-3 col-md-pull-8 text-center">
      <h4 class="text-center">Your Last vote!</h4>
      <%= image_tag(@prior_picture.url, id: 'prior-hero') %>
      <%= number_with_precision(@prior_percentage, :precision => 2) %>% Scott!
    </aside>

    <% end %>
    <aside class="col-md-1">
      ad space
    </aside>

  </div>
</div>
